body {
  background-color: hsl(212, 45%, 89%);
  font-family:'Times New Roman', Times, serif
}

.isla {
  width: 280px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  margin-left: 40%;
  margin-top: 50px;
  padding: 10px;
}
p {
  font-size: 15px;
  font-weight: 200;
}
img{border-radius: 10px;
    width: 250px;

}
